.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  width:30%;
  color: white;
  align-items: center;
  font-size: 18px;
  margin-top: 2rem;
}

#navigation {
  height: 56px;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin-left: 2rem;
  margin-top: 2rem;
}

header {
  height: 800px;
  width: 100%;
  background-image: url("images/desktop/image-header.jpg");
  background-position: center 90%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

#contact {
  color:black;
  border: 1px white solid;
  border-radius: 28px;
  background-color: white;
  padding: 1rem;
  font-family: Fraunces;
  font-size: 15px;
}

